# Begin cache control #
ExpiresActive on
ExpiresDefault "now plus 1440 minutes"
ExpiresByType text/html "now plus 1440 minutes"
<FilesMatch "\.(css|png|bmp|ico|htm|gff|html|js|jpg|jpeg|gif|gcf)$">
FileETag MTime Size
ExpiresDefault "now plus 1440 minutes"
</FilesMatch>


# End cache control #
AddType application/x-httpd-php .html


# Force www redirect #
RewriteEngine on
RewriteCond %{HTTP_HOST} ^trojanshooter.com [NC]
RewriteRule ^(.*)$ http://www.trojanshooter.com/$1 [L,R=301,NC]